.cursor {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $primary;
    opacity: .7;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
    transition: background-color linear 200ms, border linear 200ms;

    &.active {
        background-color: transparent;
        border: 1px solid $primary;
        transition: background-color linear 200ms, border linear 200ms;
        animation: scale 430ms linear infinite alternate;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: .7;
    }
    100% {
        transform: scale(1.3);
        opacity: .5;
    }
}

.pointer-none {
    pointer-events: none;
}

.cursor-pointer {
    cursor: pointer;
}