.productModal {

    &__img {
        @include img-contain(100%, 150px, center);

        @include media-breakpoint-up(sm) {
            height: 170px;
        }
    }

    .mask-fill {
        opacity: 0;
        @include linear;
    }

    &:hover .mask-fill {
        opacity: .5;
        @include linear;
    }
}

.modal-footer {
    padding: 1.5rem;
}