.logo {
    display: block;
    height: 32px;
    @include linear;

    @include media-breakpoint-up(md) {
        height: 56px;
        transform: scale(0.95) translateX(-5px);
    }

    &:hover {
        @include linear;
        opacity: .6;
    }

    &:hover .logo__0 {
        @include linear;
        @include animation-rotate;
    }

    &__6 {
        transform: translateX(4px);
        width: 22px;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }

    &__0 {
        @include linear;
        width: 32px;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }

    &__text {
        @include text-hidden(67px, auto, "~@/assets/images/logo/logo_text.svg");

        @include media-breakpoint-up(md) {
            transform: translateX(7px);
            width: 76px;
        }
    }
}

.nav {
    padding-top: 16px;
    padding-bottom: 16px;
    @include linear;

    &.active {
        border-bottom: 1px solid $secondary;
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
        opacity: .85;
        @include linear;
    }

    &__divide {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 80%;
            background-color: $light;
            top: 50%;
            right: 5%;
            transform: rotate(30deg) translateY(-50%);
        }
    }

    &__panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $dark;
        @include bg-material;
        @include linear;
        transform: translateX(-100%);
        opacity: 0;

        .link {
            opacity: 0;
        }

        &.active {
            transform: translateX(0);
            opacity: 1;
            @include linear;

            .link {
                opacity: 1;
                @include linear(800ms);
            }
        }
    }
}