.flashing {
    animation: flashing 1100ms ease-in-out infinite alternate;
}

@keyframes flashing {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .75;
    }
}

.flashing-shadow {
    animation: flashing-shadow 1000ms ease-in-out infinite alternate;
}

@keyframes flashing-shadow {
    0% {
        opacity: 1;
        box-shadow: -16px 16px 16px rgba(37, 37, 37, 0.5);
    }
    100% {
        opacity: .8;
        box-shadow: -8px 8px 8px rgba(37, 37, 37, 0.5);
    }
}

.heart-fadeOut {
    animation: favorite 450ms linear both;
}

@keyframes favorite {
    0% {
        opacity: .8;
        transform: translateY(0) scale(1);
    }
    40% {
        opacity: 0;
        transform: translateY(-50px) scale(.8);
    }
    80% {
        opacity: 0;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: .8;
        transform: translateY(0) scale(1);
    }
}