@mixin text-hidden($width, $height, $url) {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: $width;
    height: $height;
    background-image: url($url);
}

@mixin linear($duration:200ms) {
    transition: all linear $duration;
}

@mixin ease-in-out($duration:300ms) {
    transition: all ease-in-out $duration;
}

@mixin img-cover($width,$height,$position) {
    width: $width;
    height: $height;
    object-fit: cover;
    object-position: $position;
}

@mixin img-contain($width,$height,$position) {
    width: $width;
    height: $height;
    object-fit: contain;
    object-position: $position;
}

@mixin bg-cover($url, $width, $height) {
    background-image: url($url);
    width: $width;
    height: $height;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// 背景透明材質
@mixin bg-material {
    background-image: url("~@/assets/images/material_bg.png");
    background-position: center center;
    background-repeat: repeat;
}

// animation
@mixin animation-rotate {
    animation: rotate 1800ms linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translateY(0px);
    }
    25% {
        transform: rotate(90deg) translateY(1px);
    }
    50% {
        transform: rotate(180deg) translateY(0px);
    }
    75% {
        transform: rotate(270deg) translateY(1px);
    }
    100% {
        transform: rotate(360deg) translateY(0px);
    }
}